h1 {
    color: black;
    font-size: 36px;
    text-align: center;
    font-style: normal;
}

h2 {
    color: blue;
    font-size: 24px;
    font-style: italic;
}

p {
    color: green;
    text-align: left;
    font-style: normal;
}

